body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar CSS Styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  font-size: 1.5rem;
  color: khaki;
  background-color: rgb(160, 153, 86);
}

.nav-heading {
  width: 60rem;
  text-align: center;
}

.fav-icon-container {
  cursor: pointer;
}

.fav-icon-container {
  position: relative;
}

.fav-pizzas-count {
  position: absolute;
  background-color: red;
  color: white;
  padding: 0.2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -1.2rem;
  height: 1rem;
  top: -0.6rem;
}

/* Main Container CSS Styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
  max-height: calc(100vh - 10vh);
  overflow: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.pizzas-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 40%;
}

.pizza {
  display: flex;
  flex-direction: column;
  position: relative;
}

.add-to-favourite-icon {
  position: absolute;
  right: 0.6rem;
  color: white;
  z-index: 2;
  top: 0.5rem;
  cursor: pointer;
}

.add-to-favourite-icon:hover {
  color: red;
}

.favourite {
  color: red;
}

/* .pizza::before{
  content: "HEY";
  position: absolute;
  z-index: 2;
  color: wheat;
  right: 0.4rem;
} */

.pizza-item-image {
  height: 90%;
  width: 100%;
}

.pizza-item-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.pizza-item-title {
  font-size: 1rem;
}

.recipe {
  cursor: pointer;
}